@foreach (var pet in Model)
{
  <div class="grid-item" id="@pet.GetId()">
    <div class="pet-id"></div>
    <div class="pet-name">
      <p>@pet.GetName()</p>
    </div>
    <div>
      <img src="img/" class="pet-image" alt="tamagotchi image">
    </div>
    <div class="actions-btns">
      <button class="btn btn-info feed-pet">feed</button>
      <button class="btn btn-info play-pet">play</button>
      <button class="btn btn-info rest-pet">rest</button>
    </div>
  </div>
  <div class="grid-item">
    <div class="pet-stats">
      <p>Hunger: <span id="pet-hunger-@pet.GetId()">@pet.GetFood()</span></p>
      <p>Happiness: <span id="pet-happiness-@pet.GetId()">@pet.GetAttention()</span></p>
      <p>Energy: <span id="pet-energy-@pet.GetId()">@pet.GetRest()</span></p>
    </div>
  </div>
}
