@foreach (var pet in Model)
{
  @if (!pet.CheckVitals() && !pet.IsBuried())
  {
    <div class="grid-item" id="@pet.GetId()">
      <div class="pet-name">
        <h3 class="light-shadow">@pet.GetName()</h3>
      </div>
      <div>
        <img src="img/rev-tamagotchi.gif" class="pet-image" alt="tamagotchi image">
      </div>
      <div class="actions-btns">
        <button class="btn btn-info feed-pet">Feed</button>
        <button class="btn btn-info play-pet">Play</button>
        <button class="btn btn-info rest-pet">Rest</button>
      </div>
      <div class="process-icon-box">
        <img src="img/process-icon.gif" alt="Processing icon" id="process-icon">
      </div>
    </div>
    <div class="grid-item-stats">
      <div class="pet-stats">
        <div class="pet-stat-box"><img src="img/health-icon.png" alt="Health icon" class="stat-icon">Hunger: <span id="pet-hunger-@pet.GetId()">@pet.GetFood()</span></div>
        <div class="pet-stat-box"><img src="img/happiness-icon.png" alt="Health icon" class="stat-icon">Happiness: <span id="pet-happiness-@pet.GetId()">@pet.GetAttention()</span></div>
        <div class="pet-stat-box"><img src="img/energy-icon.png" alt="Health icon" class="stat-icon">Energy: <span id="pet-energy-@pet.GetId()">@pet.GetRest()</span></div>
      </div>
    </div>
  }
  else if (!pet.IsBuried())
  {
    <div class="grid-item" id="@pet.GetId()">
      <div class="pet-name">
        <h3 class="light-shadow">@pet.GetName() has died!</h3>
      </div>
      <div>
        <img src="img/skull.gif" class="pet-image" alt="tamagotchi image">
      </div>
      <div class="actions-btns">
        <button class="btn btn-info bury-pet" id="bury-btn">Bury</button>
      </div>
      <div class="process-icon-box">
        <img src="img/process-icon.gif" alt="Processing icon" id="process-icon">
      </div>
    </div>
    <div class="grid-item-stats">
      <div class="pet-stats">
      </div>
    </div>
  }
}
